<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deep Learning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                    <a href="{% url 'review_rest' %}" class="navbar-brand">ML</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'review_page' %}" class="nav-link">Email Spam Classification</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'review_rest' %}" class="nav-link">Food Reviews</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {% block data %}{% endblock %}
</body>
</html>