{% extends 'base.html' %}
{% block data %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-5 mx-auto p-5" style="box-shadow:0px 0px 5px gray;">
                    {% if success %}
                {% if success == "Negative Review" %}
                <div class="alert alert-danger">
                    <strong>Prediction is: </strong> {{success}}
                </div>
                {% else %}
                <div class="alert alert-success">
                    <strong>Prediction is: </strong> {{success}}
                </div>
                {% endif %}
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea name="review" class="form-control" rows="10" placeholder="Enter Review"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Predict" class="btn btn-warning">
                    </div>
                    
                </form>
            </div>
            
        </div>
        
    </div>
{% endblock %}
