{% extends 'base.html' %}
{% load bootstrap4 %}
{% block data %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-5 mx-auto p-5" style="box-shadow:0px 0px 5px gray;">
                {% if success %}
                {% if success == "spam" %}
                <div class="alert alert-danger">
                    <strong>Prediction is: </strong> {{success}}
                </div>
                {% else %}
                <div class="alert alert-success">
                    <strong>Prediction is: </strong> {{success}}
                </div>
                {% endif %}
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    {% bootstrap_form myform %}
                    <input type="submit" value="Post" class="btn btn-success">
                </form>
            </div>
            
        </div>
        
    </div>
{% endblock %}